@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
      @apply bg-background;
    }

    html {
      scroll-behavior: smooth;
    }

    @font-face {
      font-family: "Secra";
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/GT-Sectra-Fine-Book.ttf") format("truetype");
    }
    @font-face {
      font-family: "Secra";
      font-weight: 500;
      font-display: swap;
      src: url("/fonts/GT-Sectra-Fine-Medium.ttf") format("truetype");
    }




  
    @font-face {
      font-family: "OstiaAnticaBook";
      font-weight: 400;
      font-display: swap;
      src: url("static/fonts/OstiaAntica-Regular.otf") format("truetype");
    }
    @font-face {
      font-family: "OstiaAnticaBookItalic";
      font-weight: 400;
      font-display: swap;
      src: url("fonts/OstiaAntica-BookItalic.otf") format("truetype");
    }
}
