@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
      @apply bg-background;
    }

    html {
      scroll-behavior: smooth;
    }

    @font-face {
      font-family: "Secra";
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/GT-Sectra-Fine-Book.ttf") format("truetype");
    }
    @font-face {
      font-family: "Secra";
      font-weight: 500;
      font-display: swap;
      src: url("/fonts/GT-Sectra-Fine-Medium.ttf") format("truetype");
    }




    @font-face {
      font-family: "OstiaAntica";
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/OstiaAntica-Regular.ttf") format("truetype");
    }
    @font-face {
      font-family: "OstiaAnticaBook";
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/OstiaAntica-Book.ttf") format("truetype");
    }
    @font-face {
      font-family: "OstiaAnticaBook";
      font-weight: 400;
      font-display: swap;
      font-style: italic;
      src: url("/fonts/OstiaAntica-BookItalic.ttf") format("truetype");
    }
}
